@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700italic,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
*{ 
	padding:0;
	margin:.3em;
	box-sizing:border-box;
}
body { 
	background-color:rgb(0, 0, 76);
	font-family: 'Average Sans', sans-serif;
	font-size:20px;
}
 p{
	font-color:#00FF00;
	font-size: 4em;
	text-align:center;
	padding:1em;
}

:hover{
	color:rgb(248, 248, 248);
}


img{
	padding:.5em;
	width:1000px;
	height:900px;
}

button{
	width:200px;
	height:50px;
	font-size:1em; 
}
.wrapper {
	background-color:rgb(0, 255, 0);
	max-width:120em;
	margin:auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0;
	float:left; 
	clear: both;
}