@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700italic,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,400italic);
*{ 
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body { 
	background-color: #921414;
	color:#333;
	font-family:helvetica, arial, sans-serif;
	font-size:20px;
}
nav a {
	color: rgba(248, 248, 248,.5);
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	font-family:helvetica, arial, sans-serif;
	font-size:4em;
	
}

h1{
	background-color: #FFF;
	font-size:4em;
	font-family: 'Volkhov', serif;
}
p {
	background-color: #FFF;
	margin:1;
	font-size:3em;
	font-family: 'Lekton', sans-serif;
}
br{
	background-color: #FFF;

}
h2{
	background-color: #FFF;
	margin:1;
	font-size:3em;
	font-family: 'Volkhov', serif;
}
div {
	background-color: #FFF;
	height:10;
	width:10;
	text-align:left;
}
figure{
	background-color: #FFF;
	height:10;
	width:10;
	text-align:right;
}
section{
	background-color: #FFF;
} 