
@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700italic,700,400italic);
*{ 
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body { 
	background-color: #921414;
	color:#333;
	font-family:helvetica, arial, sans-serif;
	font-size:20px;
}
nav a {
	color: rgba(248, 248, 248,.5);
	font-family:helvetica, arial, sans-serif;
	font-size:4em;
	
}
h1{
	background-color: #FFF;
	font-size:4em;
	font-family: 'Volkhov', serif;
	margin:2 2 2 2;
	border-width: 2 2 2 2;
	padding:1 1 1 1;
	
}

p {
	background-color: #FFF;
	height:4;
	width:3;
	font-size:3em;
	font-family:
	margin:2 2 2 2;
	border-width: 2 2 2 2;
	padding:1 1 1 1;
}


h2{
	background-color: #FFF;
	margin:0;
	font-size:3em;
	font-family:georgia, serif;
	margin:2 2 2 2;
	border-width: 2 2 2 2;
	padding:1 1 1 1;
}