
@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700italic,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
*{ 
	padding:0;
	margin:.2em;
	box-sizing:border-box;
}
body { 
	background-color: #921414;
	color:#333;
	font-family:helvetica, arial, sans-serif;
	font-size:18px;
}
nav {
	text-align:center;
	padding:1em;
}
nav a {
	margin:.3em;
	border-width:.3em;
	padding:.3em;
	color: rgba(248, 248, 248,.5);
	font-family:helvetica, arial, sans-serif;
	font-size:2em;
	text-decoration: none; 
}

nav a:hover{

	color:rgb(248, 248, 248);
}


h1,h2{
	padding:.8em;
	font-size:3em;
	font-family: 'Volkhov', serif;
	
}


iframe{
	width:700px;
	height:500px;
}

p {
	padding:1em;
	font-size:2em;
	font-family: 'Average Sans', sans-serif;
	
}

ul{
	font-size:2em;
	font-family:georgia,serif;
	text-align:center; 
	text-decoration: none;
}

.wrapper {
	background-color:#fff;
	max-width:120em;
	margin:auto;
}

div a:hover{

	color:rgb(255, 153, 0);
}
