@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700italic,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
*{ 
	padding:0;
	margin:.1em;
	box-sizing:border-box;
}
body { 
	background-color: #921414;
	color:#333;
	font-family:helvetica, arial, sans-serif;
	font-size:18px;
}
nav {
	text-align:center;
	padding:1em;
}
nav a {
	margin:.3em;
	border-width:.3em;
	padding:.3em;
	color: rgba(248, 248, 248,.5);
	font-family:helvetica, arial, sans-serif;
	font-size:2em;
	text-decoration: none; 
}

nav a:hover{

	color:rgb(248, 248, 248);
}

*+*{
	margin-top:.2em;
}

h1, h2 {
	font-size: 3em;
	font-family: 'Volkhov', serif;
	margin-bottom: .5em;
}
iframe{
	background-color:#00FF00;
	border-color:#000066;
	border-style:solid;
	border-width:1em;
	width:800px;
	height:500px;
}
figure{
	background-color:#2EB82E;
	width:900px;
}

p {
	padding:.2em;
	font-size:2em;
	font-family: 'Average Sans', sans-serif;
}

ul{
	font-size:2em;
	font-family:georgia,serif;
	text-align:center; 
	text-decoration: none;
}

ul a{

	text-decoration: none; 
}
a{
	text-decoration: none; 
}
.wrapper {
	background-color:#fff;
	max-width:120em;
	margin:0 auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0;
	float:left; 
	clear: both;
	}