body { 
 background-color: #880000;
 color:#ffffff;
 font-family:helvetica, arial, sans-serif;
 font-size:16px;
}
h1, p { 
 background-color: orange;
}
h1 {
 font-size:3em;
 font-family:georgia, serif;
}
